<!DOCTYPE html>

<html>

  {% include head.html %}

  <body>
    <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

    <!-- Toggleable sidebar -->
    <div class="sidebar" id="sidebar">
      <div class="sidebar-item"></div>
      <nav class="sidebar-nav">
        <a class="sidebar-nav-item" href="/lanyon/">Home</a>
        <a class="sidebar-nav-item" href="/lanyon/about/">About</a>
        <a class="sidebar-nav-item" href="false">Download</a>
        <a class="sidebar-nav-item" href="">GitHub project</a>
      </nav>
    </div>

    <div class="wrap">
    {% include navbar.html %}
    {{ content }}
    {% include footer.html %}
    </div>
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>




    {% include scripts.html %}

  </body>

</html>
