<!DOCTYPE html>

<html>

  {% include head.html %}

  <body>
    <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

    <!-- Toggleable sidebar -->
    <div class="sidebar" id="sidebar">
      <div class="sidebar-item"></div>
      <nav class="sidebar-nav">
        <a class="sidebar-nav-item" href="/">Accueil</a>
        <a class="sidebar-nav-item" href="/about">About</a>
        <a class="sidebar-nav-item" href="/music">Looping music</a>
        <a class="sidebar-nav-item" href="/posts">News</a>
        <a class="sidebar-nav-item" href="/contact">Contact</a>
      </nav>
    </div>

    <div class="wrap">
    {% include navbar.html %}
    {{ content }}
    {% include footer.html %}
    </div>
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>




    {% include scripts.html %}

  </body>

</html>
